/* -------------------- Intro -------------------- */
.b-intro { position: relative; color: #fff; background: #121318; padding: 0; }

@media (min-width: 768px) {

    .b-intro {  }

}

@media (min-width: 1200px) {

    .b-intro { overflow: hidden; }

}


.b-intro_carousel_item {
  min-height: 690px;
  display: flex;
  align-items: center;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.b-intro_carousel .b-carousel_paging {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0 -100px 90px;
  width: 200px;
}
.b-intro_carousel .b-carousel_paging_bullet span {
  background: #000;
  border: 1px solid #fff;
  border-radius: 50%;
}
.b-intro_carousel .b-carousel_paging_bullet.active span {
  background: #fff;
  transform: none;
}

.b-intro_carousel_item__1 {
  background-image: url(../img/backgrounds/intro_1.jpg);
}
.b-intro_carousel_item__2 {
  background-image: url(../img/backgrounds/intro_2.jpg);
}
.b-intro_carousel_item__3 {
  background-image: url(../img/backgrounds/intro_3.jpg);
}

@media (max-width: 1199px) {

  .b-intro_carousel_item {
    min-height: 555px;
  }

}

@media (max-width: 767px) {

  .b-intro_carousel .b-carousel_paging {
    margin-bottom: 35px;
  }

  .b-intro_carousel_item {
    display: block;
    min-height: 700px;
    background-color: #12111a;
  }
  .b-intro_carousel_item__1 {
    background-image: url(../img/backgrounds/intro_mob_1.jpg);
  }
  .b-intro_carousel_item__2 {
    background-image: url(../img/backgrounds/intro_mob_2.jpg);
  }
  .b-intro_carousel_item__3 {
    background-image: url(../img/backgrounds/intro_mob_3.jpg);
  }

}

/* * * Intro :: text * * */

.b-intro_text {
  display: block;
  box-sizing: border-box;
  margin: 0 0 0 50%;
  width: 450px;
  font: 400 18px 'Roboto', sans-serif;
  color: #fff;
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 1000ms, transform 500ms;
}

.b-intro_text_title {
  position: relative;
  display: inline-block;
  margin: 0 0 20px;
  padding: 0 0 20px;
  font: 100 40px/1 'Roboto', sans-serif;
  color: #fcda2d;
  border-bottom: 1px solid #fcda2d;
  text-decoration: none !important;
  transition: border 300ms;
}
.b-intro_text_title:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 100%;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 17px;
  width: 32px;
  height: 29px;
  background: url(../img/icons/intro_title.png) 0 0 no-repeat;
  background-size: contain;
  opacity: 0;
  transform: translateX(10px);
  transition: opacity 300ms, transform 300ms;
}
.b-intro_text_title:hover:after {
  opacity: 1;
  transform: translateX(0);
}
.b-intro_text p {
  position: relative;
  margin: 0 0 25px;
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 700ms 150ms, transform 700ms 150ms;
}
.b-intro_text_btn {
  position: relative;
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 700ms 300ms, transform 700ms 300ms;
}

.owl-item.active .b-intro_text {
  transform: translateX(0);
  opacity: 1;
}
.owl-item.active .b-intro_text p {
  transform: translateX(0);
  opacity: 1;
}
.owl-item.active .b-intro_text_btn {
  transform: translateX(0);
  opacity: 1;
}

.b-intro_text_btn_video {
  position: relative;
  display: block;
  text-align: left;
  margin: 44px 0 0;
  padding: 0 0 0 66px;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}
.b-intro_text_btn_video:hover {
  color: #fcda2d;
}
.b-intro_text_btn_video:before {
  display: block;
  position: absolute;
  top: 50%;
  left: 17px;
  transform: translateY(-50%);
}
.b-intro_text_btn_video:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border: 2px solid #fcda2d;
  border-radius: 50%;
}

@media (min-width: 768px) and (max-width: 1199px) {

    .b-intro_text { margin: 0 0 0 40%; font: 400 16px/1.5 'Roboto', sans-serif; }
    .b-intro_text_title { font: 100 40px 'Roboto', sans-serif; }

}

@media (max-width: 767px) {

  .b-intro_text {margin: 0; width: 100%; padding: 300px 10px 0; }
  .b-intro_text_title:after { display: none; }
  .b-intro_text_btn { text-align: center; }

}



/* -------------------- Invest -------------------- */
.b-invest_wrapper {
  margin: 0 auto;
  max-width: 840px;
}

.b-invest_list {
  display: flex;
}
.b-invest_list_item {
  display: block;
  position: relative;
  box-sizing: border-box;
  margin: 0 0 40px;
  padding: 30px 0 0;
  width: 210px;
  height: 175px;
  text-align: center;
  color: #9b9b9b;
  background: url(../img/icons/invest.png) center no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: color 300ms;
}
.b-invest_list_item_price {
  position: relative;
  z-index: 2;
  display: inline-block;
  padding: 3px 7px 2px;
  font: 400 12px/1.25 'Roboto', sans-serif;
  letter-spacing: -0.05em;
  color: #999;
  background: #e3e3e3;
  border-radius: 4px;
  transition: color 300ms, background 300ms;
}
.b-invest_list_item_title {
  position: relative;
  z-index: 2;
  margin: 15px auto 10px;
  padding: 0 0 9px;
  width: 100px;
  font: 500 22px/1 'Roboto', sans-serif;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  transition: border 300ms;
}
.b-invest_list_item_info {
  position: relative;
  z-index: 2;
  font: 500 15px/1 'Roboto', sans-serif;
  text-transform: uppercase;
}
.b-invest_list_item_info span {
  display: inline-block;
  vertical-align: middle;
  width: 35px;
}
.b-invest_list_item_info span ~ span {
  padding-left: 3px;
  border-left: 1px solid #ddd;
}
.b-invest_list_item:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 11;
  bottom: 20px;
  left: 50%;
  margin: 0 0 0 -8px;
  width: 16px;
  height: 16px;
  background: #ddd;
  background-position: 60% 50%;
  background-repeat: no-repeat;
  background-size: 60% auto;
  border-radius: 50%;
  transition: background 300ms, opacity 300ms;
  opacity: 0.5;
}
.b-invest_list_item:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/icons/invest_active.png) center no-repeat;
  background-size: contain;
  transform: scale(0.95);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}


.b-invest_list_item:hover,
.b-invest_list_item.active {
  color: #000;
}
.b-invest_list_item:hover:before,
.b-invest_list_item.active:before {
  transform: scale(1);
  opacity: 1;
}
.b-invest_list_item:hover .b-invest_list_item_price,
.b-invest_list_item.active .b-invest_list_item_price {
  color: #000;
  background: #ffdd2d;
  box-shadow: 0 3px 5px rgba(0,0,0,0.02);
}
.b-invest_list_item:hover .b-invest_list_item_title,
.b-invest_list_item.active .b-invest_list_item_title {
  border-bottom-color: #ffdd2d;
}
.b-invest_list_item:hover .b-invest_list_item_info,
.b-invest_list_item.active .b-invest_list_item_info {
}
.b-invest_list_item:hover:after,
.b-invest_list_item.active:after {
  opacity: 1;
  background: #ffdd2d url(../img/icons/invest_check.svg) 60% 50% no-repeat;
  background-size: 60% auto;
}

.b-invest_list .owl-nav.disabled {
  display: none;
}

@media (min-width: 768px) and (max-width: 1199px) {

  .b-invest_list_item {
    width: 100%;
    height: 170px;
  }

}

@media (max-width: 767px) {

  .b-invest_list_item {
    margin: 0 auto 40px;
  }
  .b-invest_list .owl-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .b-invest_list .owl-prev,
  .b-invest_list .owl-next {
    display: block;
    position: absolute;
    top: 0;
    padding: 0;
    width: 25px;
    height: 175px;
    background: url(../img/icons/invest_slider.svg) center no-repeat;
    background-size: contain;
    border: 0;
    opacity: 0.7;
  }
  .b-invest_list .owl-prev span,
  .b-invest_list .owl-next span {
    display: none;
  }
  .b-invest_list .owl-prev {
    left: 20px;
    transform: scaleX(-1);
  }
  .b-invest_list .owl-next {
    right: 20px;
  }
  .b-invest_list .owl-prev.disabled,
  .b-invest_list .owl-next.disabled {
    opacity: 0.2;
  }

}


.b-invest_range {
  margin: 0 10px 40px;
  height: 7px;
  border: 1px solid #f3f3f3 !important;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.02);
}
.b-invest_range .ui-slider-range {
  background: #ffdd2d;
  transition: width 300ms linear;
}
.b-invest_range .ui-slider-handle {
  top: 50%;
  margin: -16px;
  width: 32px;
  height: 32px;
  background: url(../img/icons/range.png) center no-repeat;
  background-size: contain;
  border: 0;
  transition: left 300ms linear;
}
.b-invest_range:hover .ui-slider-range {
  transition: width 50ms linear;
}
.b-invest_range:hover .ui-slider-handle {
  transition: left 50ms linear;
}


.b-invest_result {
  margin: 0 10px 40px;
}
.b-invest_result_row {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.b-invest_result_item {
  display: block;
  position: relative;
  vertical-align: middle;
  margin: 0 0 22px;
  width: 231px;
}
.b-invest_result_item label {
  display: block;
  margin: 0 0 5px 12px;
  font: 500 13px 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #9b9b9b;
}
.b-invest_result_item input {
  display: block;
  box-sizing: border-box;
  vertical-align: middle;
  padding: 0 10px 0 20px;
  width: 100%;
  height: 47px;
  font: 500 17px 'Roboto', sans-serif;
  color: #000;
  border: 0;
  background: url(../img/icons/invest_input_active.png) center no-repeat;
  background-size: 100% 100%;
  text-overflow: ellipsis;
}
.b-invest_result_item input[readonly] {
  cursor: default;
  background-image: url(../img/icons/invest_input.png);
}
.b-invest_result__1:after,
.b-invest_result__2:after,
.b-invest_result__4:after,
.b-invest_result__5:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 100%;
  margin: 0 0 0 25px;
  width: 14px;
  height: 47px;
  background: url(../img/icons/invest_arrow.svg) center no-repeat;
  background-size: contain;
}

@media (min-width: 768px) and (max-width: 1199px) {

  .b-invest_result_item:after {
    display: none;
  }

}

@media (max-width: 767px) {

  .b-invest_result_item:after {
    display: none;
  }

  .b-invest_result_item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .b-invest_result_item label {
    width: 35%;
    padding: 0 10px 0 0;
    margin: 0;
  }
  .b-invest_result_item input {
    width: 65%;
  }
}



/* -------------------- Partners -------------------- */
.b-partners_wrapper {
  margin: 0 auto;
  max-width: 840px;
}

.b-partners_list {
  display: flex;
  justify-content: space-between;
}
.b-partners_list_item {
  display: block;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  margin: 0 0 40px;
  width: 210px;
  color: #9b9b9b;
  cursor: pointer;
  transition: color 300ms;
}
.b-partners_list_item_title {
  display: inline-block;
  position: relative;
  text-align: left;
  margin: 15px auto 25px;
  padding: 0 20px 9px 30px;
  font: 500 22px/1 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #9b9b9b;
  border-bottom: 1px solid #f1f1f1;
  transition: border 300ms, color 300ms;
}
.b-partners_list_item_title:before,
.b-partners_list_item_title:after {
  content: '';
  display: block;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  right: 100%;
  margin: -22px -20px 0 0;
  width: 39px;
  height: 33px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 300ms;
  opacity: 0.8;
}
.b-partners_list_item_title:after { opacity: 0; }
.b-partners_list_item.active .b-partners_list_item_title { color: #000; border-bottom-color: #ffdd2d; }
.b-partners_list_item.active .b-partners_list_item_title:before { opacity: 0; }
.b-partners_list_item.active .b-partners_list_item_title:after { opacity: 1; }
.b-partners_list_item__1 .b-partners_list_item_title:before {background-image: url(../img/icons/partner_s.svg)}
.b-partners_list_item__2 .b-partners_list_item_title:before {background-image: url(../img/icons/partner_g.svg)}
.b-partners_list_item__3 .b-partners_list_item_title:before {background-image: url(../img/icons/partner_p.svg)}
.b-partners_list_item__1 .b-partners_list_item_title:after {background-image: url(../img/icons/partner_s_active.svg)}
.b-partners_list_item__2 .b-partners_list_item_title:after {background-image: url(../img/icons/partner_g_active.svg)}
.b-partners_list_item__3 .b-partners_list_item_title:after {background-image: url(../img/icons/partner_p_active.svg)}

.b-partners_list_item_box {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 25px 0 0;
  width: 210px;
  height: 175px;
  background: url(../img/icons/invest.png) center no-repeat;
  background-size: contain;
  cursor: pointer;
}
.b-partners_list_item_box:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/icons/invest_active.png) center no-repeat;
  background-size: contain;
  transform: scale(0.95);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
.b-partners_list_item_count {
  display: block;
  position: relative;
  z-index: 2;
  margin: 0 auto 5px;
  width: 29px;
  height: 24px;
  font: 500 14px/25px 'Roboto', sans-serif;
  background: url(../img/icons/penta_gray.svg) center no-repeat;
  background-size: contain;
}
.b-partners_list_item_label {
  display: inline-block;
  position: relative;
  z-index: 2;
  margin: 0 0 10px;
  padding: 0 0 2px;
  font: 500 11px/1 'Roboto', sans-serif;
  text-transform: uppercase;
  border-bottom: 1px solid #eee;
}
.b-partners_list_item_value {
  position: relative;
  z-index: 2;
  margin: 0 0 4px;
  font: 500 32px/1 'Roboto', sans-serif;
  text-transform: uppercase;
}
.b-partners_list_item_note {
  position: relative;
  z-index: 2;
  font: 400 14px 'Roboto', sans-serif;
}
.b-partners_list_item__1 .b-partners_list_item_box:after,
.b-partners_list_item__2 .b-partners_list_item_box:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 100%;
  margin: -1px 0 0 0;
  width: 105px;
  height: 0;
  border-top: 1px solid #f1f1f1;
  cursor: default;
}

/*.b-partners_list_item:hover,*/
.b-partners_list_item.selected {
  color: #000;
}
/*.b-partners_list_item:hover .b-partners_list_item_box:before,*/
.b-partners_list_item.selected .b-partners_list_item_box:before {
  transform: scale(1);
  opacity: 1;
}
/*.b-partners_list_item:hover .b-partners_list_item_count,*/
.b-partners_list_item.selected .b-partners_list_item_count {
  color: #000;
  background-image: url(../img/icons/penta_yellow.svg);
}

@media (min-width: 768px) and (max-width: 1199px) {

  .b-partners_list_item .b-partners_list_item_box:after {
    width: 60px;
  }

}

@media (max-width: 767px) {

  .b-partners_list {
    display: block;
  }
  .b-partners_list_item {
    margin: 0 auto 30px;
  }
  .b-partners_list_item .b-partners_list_item_box:after {
    display: none;
  }

}


/* -------------------- Stata -------------------- */
.b-stata {
  padding-top: 0;
  padding-bottom: 20px;
}

.b-stata_list {
  margin: 50px 20px 0;
  display: flex;
  justify-content: space-between;
}

.b-stata_list_item {
  margin: 0 auto;
  padding: 11px 0 50px;
  width: 325px;
  max-width: 100%;
  position: relative;
}
.b-stata_list_item:before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0 -200px;
  width: 350px;
  height: 40px;
  background: url(../img/backgrounds/stata_shadow.png) center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.b-stata_list_item_heading {
  position: relative;
  text-align: center;
  padding: 12px 0 18px;
  font: 500 15px/1 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #000;
  background: #ffdd2d;
}
.b-stata_list_item_heading:before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin: 0 -120px;
  width: 240px;
  height: 0;
  border-bottom: 10px solid #ffdd2d;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

.b-stata_list_item_content {
  position: relative;
  margin: 3px 0;
  padding: 10px 22px 27px;
  background: #fff;
  border-left: 1px solid #ffdd2d;
  border-right: 1px solid #ffdd2d;
}
.b-stata_list_item_content table {
  width: 100%;
  padding: 0 0 10px;
  border-bottom: 1px solid #ffdd2d;
  border-spacing: 0;
}
.b-stata_list_item_content table th {
  padding: 9px 0 8px;
  text-align: left;
  font: 300 11px 'Roboto', sans-serif;
  text-transform: uppercase;
  border-top: 1px solid #ffdd2d;
  border-bottom: 1px solid #ffdd2d;
}
.b-stata_list_item_content table th:first-child {
  padding-left: 3px;
}
.b-stata_list_item_content table td {
  height: 32px;
  vertical-align: middle;
  text-align: left;
  font: 400 14px 'Roboto', sans-serif;
  color: #999;
}
.b-stata_list_item_content table tr:nth-child(2) td {
  padding-top: 10px;
}
.b-stata_list_item_content table td:nth-child(1) {
  width: 30%;
}
.b-stata_list_item_content table td:nth-child(2) {
  width: 35%;
  font-weight: 500;
}
.b-stata_list_item_content table td:nth-child(3) {
  width: 35%;
}

.b-stata_list_item_content table.type2 td:nth-child(1) {
  width: 20%;
}
.b-stata_list_item_content table.type2 td:nth-child(1) img {
  width: 30px;
}
.b-stata_list_item_content table.type2 td:nth-child(2) {
  width: 40%;
  font-weight: 400;
}
.b-stata_list_item_content table.type2 td:nth-child(3) {
  font-weight: 500;
  width: 40%;
}

.b-stata_list_item_footing {
  position: relative;
  margin: -20px 0 0;
  text-align: center;
  font: 300 11px 'Roboto', sans-serif;
  text-transform: uppercase;
}
.b-stata_list_item_footing b {
  display: block;
  position: relative;
  margin: 5px 0 0;
  padding: 0 0 2px;
  font: 600 21px/1 'Roboto', sans-serif;
  text-transform: none;
  border-left: 2px solid #ffdd2d;
  border-right: 2px solid #ffdd2d;
  border-bottom: 2px solid #ffdd2d;
}
.b-stata_list_item_footing:before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin: 0 -121px;
  width: 242px;
  height: 0;
  border-top: 10px solid #ffdd2d;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}
.b-stata_list_item_footing:after {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 50%;
  margin: -2px -120px 0;
  width: 240px;
  height: 0;
  border-top: 10px solid #fff;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

.b-stata_list_item_content:before,
.b-stata_list_item_content:after,
.b-stata_list_item_content table:before,
.b-stata_list_item_content table:after,
.b-stata_list_item_footing div:before,
.b-stata_list_item_footing div:after {
  content: '';
  position: absolute;
  top: 13px;
  left: 13px;
  width: 10px;
  height: 0;
  border-bottom: 1px solid #ffdd2d;
  transform: rotate(-33deg);
}
.b-stata_list_item_content:after,
.b-stata_list_item_footing div:after {
  right: 13px;
  left: auto;
  transform: rotate(33deg);
}
.b-stata_list_item_content table:before {
  top: 39px;
  transform: rotate(33deg);
}
.b-stata_list_item_content table:after {
  top: 39px;
  right: 13px;
  left: auto;
  transform: rotate(-33deg);
}
.b-stata_list_item_footing div:before,
.b-stata_list_item_footing div:after {
  top: -8px;
}

@media (min-width: 768px) and (max-width: 1199px) {

  .b-stata {
    padding-top: 20px;
  }
  .b-stata_list {
    display: block;
    margin: 30px 40px 0 !important;
  }

}

@media (max-width: 767px) {

  .b-stata {
    padding-top: 20px;
  }
  .b-stata_list {
    display: block;
    margin: 0;
  }
  .b-stata_list .b-carousel_arrow {
    position: relative;
    margin: 15px 10px 0;
    width: 25px;
    height: 40px;
    background-size: 100% 100%;
    opacity: 1;
  }
  .b-stata_list .owl-nav {
    display: flex;
    justify-content: center;
  }

}



/* -------------------- Major -------------------- */
.b-major_list {
  margin: 50px 0 30px;
}
.b-major_list_item {
  text-align: center;
  margin-bottom: 45px;
}
.b-major_list_item_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 30px;
  width: 144px;
  height: 126px;
  background: url(../img/icons/major.png) center no-repeat;
  background-size: contain;
}
.b-major_list_item_icon img {
  display: inline-block;
  vertical-align: middle;
}
.b-major_list_item__4 .b-major_list_item_icon img {
  margin: 0 0 0 5px;
}
.b-major_list_item_title {
  font: 400 18px/1.25 'Roboto', sans-serif;
}


/* -------------------- Contact -------------------- */
.b-contact_content {
  margin: 0 0 40px;
}
.b-contact_content h1 {
  margin: 0 0 20px;
  font: 400 25px 'Roboto', sans-serif;
}
.b-contact_list {
  font: 300 18px 'Roboto', sans-serif;
}
.b-contact_list_item {
  position: relative;
  padding: 20px 0 22px 77px;
}
.b-contact_list_item ~ .b-contact_list_item {
  border-top: 1px solid #eee;
}
.b-contact_list_item h3 {
  margin: 0 0 13px;
  color: #9b9b9b;
  font: 300 18px 'Roboto', sans-serif;
}
.b-contact_phone {
  display: inline-block;
  margin: -3px 0 0;
  font: 300 25px 'Roboto', sans-serif;
  color: #000;
  text-decoration: none;
}
.b-contact_list_item:before {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-size: contain;
  background-position: 0 50%;
}

.b-contact_map {
  position: relative;
  margin: 0 0 40px;
  border: 1px solid #eee;
}
.b-contact_map img {
  display: block;
  width: 100%;
}

.b-contact_footing {
  text-align: center;
  color: #9b9b9b;
  font: 400 20px 'Roboto', sans-serif;
}

@media (min-width: 768px) and (max-width: 1199px) {

  .b-contact_footing {
    text-align: left;
  }

}

@media (max-width: 767px) {

  .b-contact_map {
    margin: 0 -20px 30px;
  }

  .b-contact_footing {
    text-align: left;
    font-size: 14px;
  }

}


/* -------------------- Video -------------------- */
.b-video_list {
  margin-top: 50px;
}
.b-video_list .b-carousel_arrow {
  top: 185px;
  margin: -75px -55px;
  width: 40px;
  height: 150px;
}
.b-video_list_item {
  display: block;
  margin: 0 0 50px;
}
.b-video_list_item_link {
  display: block;
  text-decoration: none;
  color: #000;
}
.b-video_list_item_image {
  position: relative;
  margin: 0 0 17px;
  background: #000;
}
.b-video_list_item_image img {
  display: block;
  position: relative;
  width: 100%;
  opacity: 0.4;
  transition: opacity 300ms;
}
.b-video_list_item_link:hover .b-video_list_item_image img {
  opacity: 0.5;
}
.b-video_list_item_image:before {
  position: absolute;
  z-index: 11;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.b-video_list_item_image:after {
  content: '';
  position: absolute;
  z-index: 10;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 260px;
  height: 260px;
  max-width: 70%;
  max-height: 70%;
  background: url(/assets/img/backgrounds/video_bg.png) center no-repeat;
  background-size: contain;
}
.b-video_list_item_title {
  margin: 0 0 5px;
  font: 400 18px 'Roboto', sans-serif;
  text-transform: uppercase;
}
.b-video_list_item_description {
  font: 400 14px 'Roboto', sans-serif;
  color: #72787a;
}


@media (min-width: 768px) and (max-width: 1199px) {

  .b-video_list {
    margin-top: 0;
  }
  .b-video_list .b-carousel_arrow {
    top: 117px;
    margin: -60px -35px;
    width: 30px;
    height: 120px;
  }

}

@media (max-width: 767px) {

  .b-video_list {
    position: relative;
    margin-top: 0;
  }
  .b-video_list .b-carousel_arrow {
    position: relative;
    top: -40px;
    margin: 15px 10px 0;
    width: 25px;
    height: 40px;
    background-size: 100% 100%;
    opacity: 1;
  }
  .b-video_list .owl-nav {
    display: flex;
    justify-content: center;
  }
  .b-video_list_item_title,
  .b-video_list_item_description {
    text-align: center;
  }

}



/* -------------------- LK -------------------- */
.b-lk {
}
.b-lk_info {
  display: flex;
  justify-content: space-between;
}
.b-lk_info_item {
  position: relative;
  padding: 4px 0 0 66px;
}
.b-lk_info_item_icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 54px;
  background: url(../img/icons/lk_info.svg) center no-repeat;
  background-size: contain;
}
.b-lk_info_item_icon:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.b-lk_info_item_label {
  margin: 0 0 5px;
  font: 400 14px 'Roboto', sans-serif;
  color: #929292;
}
.b-lk_info_item_value {
  font: 400 21px 'Roboto', sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.b-lk_box {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid #eeeded;
}
.b-lk_box_title {
  margin: 0 0 20px;
  text-align: center;
  font: 400 20px 'Roboto', sans-serif;
  text-transform: uppercase;
}
.b-lk_box_description {
  margin: -13px 0 20px;
  text-align: center;
  font: 400 16px 'Roboto', sans-serif;
  color: #727879;
}

.b-lk_form_purse input,
.b-lk_form_purse .b-form_box_note {
  text-align: center;
}

@media (max-width: 767px) {
  .b-lk_info {
    display: block;
  }
  .b-lk_info_item {
    display: block;
    box-sizing: border-box;
    margin: 0 auto 30px;
    padding: 4px 0 0 77px;
    width: 200px;
  }
  .b-lk_info_item:last-child {
    margin-bottom: 0;
  }
  .b-lk_form_purse input,
  .b-lk_form_purse .b-form_box_note {
    text-align: left;
  }
}
